body{
    background-color: #F7ECDE;
}
.btn1{
    background-color: aqua;
   display: flex;
   text-align: center;
   width: 100px;
   justify-content: center;

}
a{
    text-decoration: none;
    color:black;
}
hr{
    border: 2px dotted black;
}
 .my-par h3{
     /* background-color: brown; */
     background-image: linear-gradient(to right, #3FA55C,#B2AC4A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}